<div class="ui vertical segment">
    <div class="ui grid container ">
        <div class="eight wide column">
            <h1 class="ui header">Assinaturas</h1>
        </div>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui container">    
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>ID Assinatura</th>
                    <th>ID Plano</th>
                    <th>Nome do Plano</th>
                    <th>Cliente</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Meio Pgto</th>
                    {{!--<th class="center aligned">Ações</th>--}}
                </tr>
            </thead>
            <tbody>
                {{#each subscriptions}}
                <tr>
                    <td><a href={{link}} target="_blank">{{id}}</a></td>
                    <td>{{plan_id}}</td>
                    <td>{{plan_name}}</td>
                    <td>{{customer_name}}</td>
                    <td>{{plan_amount}}</td>
                    <td>{{status}}</td>
                    <td>{{payment_method}}</td>
                    {{!--<td class="center aligned">
                        <a href="#" class="ui mini orange button">Antecipar</a>
                    </td>--}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

